.table-muti1{ height:600px;   overflow:auto;}
.btn-group{margin-bottom:10px;}
.table-muti1{border-left:1px solid #ddd;border-right:1px solid #ddd;}
.table-muti{border-left:1px solid #ddd;border-right:1px solid #ddd;}